<style>
.dropbtn {
  background-color: #3498DB;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #3498DB;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.show {display: block;}
</style>


<nav class="navbar">
    <div class="content">
      <div class="logo">

      </div>
      <ul class="menu-list">
        <div class="icon cancel-btn">
          <i class="fas fa-times"></i>
        </div>
        <% if (user) { %>
     
       <img src="<%= "https://cdn.discordapp.com/avatars/${user.id}/${user.avatar}.png  " %>" alt="" width="30" height="30" class="d-inline-block align-top">
    <div class="dropdown">

  <button onclick="myFunction()" class="dropbtn"><%= user.username %> </button>
  <div id="myDropdown" class="dropdown-content">
         <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
        <li><a href="/dashboard"><i class="fas fa-rocket"></i> Dashboard</a></li>
        <li><a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout </a>
  </div>
</div

        </li>
        <% } else { %>
            <li><a href="/login"><i class="fas fa-sign-in-alt"></i> login</a></li>
          <% } %>
      </ul>
      <div class="icon menu-btn">
        <i class="fas fa-bars"></i>
      </div>
    </div>
  </nav>

<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>