<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/Styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
<meta property="og:title" content="MSR BOT" />
<meta property="og:type" content="mxyz.org" />
<meta property="og:url" content="https://msr.nota1aan.repl.co" />
<meta property="og:description" content="Military simulator raiders, A multi function bot with a dashboard, military simulator commands, emote commands, economy commands , fun commands, config commands , moderation commands and so much more." />
<meta name="theme-color" content="#00FFFF" />
<meta property="og:color" content="00FFFF" />
  </head>
  <title> MSR BOT </title>
  <body>
  <%- include('./partials/Navbar', { bot, user }); %>
  <div class="section-container">
    <section id="home">
    <img src="https://cdn.discordapp.com/avatars/579648772351721507/c98df80c213432bee98472975b21e122.webp" class="bot-icon">
    <h3 class="section-header">MSR BOT</h3>
    <p class="section-description">Military simulator raiders, A multi function bot with a dashboard, military simulator commands, emote commands, economy commands , fun commands, config commands , moderation commands and so much more.</p>
    <div class="btns">
    <button><a href="https://discord.com/oauth2/authorize?client_id=708988369891229746&scope=bot&permissions=8589934591"> </a> Invite</button> <button> <a href="https://discord.gg/D2PYCM5GAQ"></a> Support Server </button>
    </div>
    </section>
  



   </body >

    <footer>

      <span>Created By Alan and MSR bot team</a> | <span class="far fa-copyright"></span> 2021 All rights reserved.</span>
    </footer>

  <script src="js/script.js"></script>
    <script src="js/bar.js"></script>
  </body>
</html>
